{% extends "main/menu.html" %}
{% block busqueda %}
{% endblock%}

{% block list %}
<div class="col-sm-9">
      <div class="inner cover">
          <h1 class="cover-heading" align="center">{{ proyecto.nombre }}</h1>
          <ul class="list-group">

              <h1>Kanban</h1>

              {% for flujo in object_list %}
              <h1>{{ flujo.nombre }}</h1>
              <table class="table" border="1" >
                <tr>
                    {% for actividad in actividades %}
                    {% if actividad.flujo == flujo %}
                    <td colspan="3" align="center"><h1>{{ actividad.nombre }}</h1></td>
                    {% endif %}
                  {% endfor %}

                </tr>
                 <tr>
                     {% for actividad in actividades %}
                        {% if actividad.flujo == flujo %}
                      <td>TODO</td><td>DOING</td><td>DONE</td>

{% endif %}

                     {% endfor %}

                </tr>

                {% for us in us_list %}
                  {% if us.flujo == flujo %}
                  <tr>
                  {% for actividad in actividades %}

                        {% if actividad.flujo == flujo %}
                        {% if us.actividad == actividad %}
                        <td align="center">
                            {% if us.estado == 'TODO'  %}
                          <div class="btn-group" role="group" align="left">

                            <li>{{ us.nombre  }}</li>
                            <li><a href="{% url 'crearRegistro' proyecto.id us.id %}" class="btn btn-default">Registrar Trabajo <span class="glyphicon glyphicon-edit"></span></a></li>
                            <li><a href="{% url 'listar_registro' proyecto.id us.id %}" class="btn btn-default">Historial de Trabajo <span class="glyphicon glyphicon-edit"></span></a></li>
                            <li><a href="{% url 'cambiar_estado' us.id %}" class="btn btn-default">Avanzar <span class="glyphicon glyphicon-fast-forward"></span></a></li>
                             <li><a href="{% url 'retroceder' us.id %}" class="btn btn-default">Atras <span class="glyphicon glyphicon-fast-backward"></span></a></li>
                             {% if proyecto.lider_proyecto == lider  %}
                             <li><a href="{% url 'cancelar_us' us.id %}" class="btn btn-default">Cancelar <span class="glyphicon glyphicon-remove"></span></a></li>
                            {% endif %}
                         </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if us.estado == 'DOING'  %}
                            <div class="btn-group" role="group" align="left">

                            <li>{{ us.nombre  }}</li>
                            <li><a href="{% url 'crearRegistro' proyecto.id us.id %}" class="btn btn-default">Registrar Trabajo <span class="glyphicon glyphicon-edit"></span></a></li>
                                                        <li><a href="{% url 'listar_registro' proyecto.id us.id %}" class="btn btn-default">Historial de Trabajo <span class="glyphicon glyphicon-edit"></span></a></li>

                                <li><a href="{% url 'cambiar_estado' us.id %}" class="btn btn-default">Avanzar <span class="glyphicon glyphicon-fast-forward"></span></a></li>
<li><a href="{% url 'retroceder' us.id %}" class="btn btn-default">Atras <span class="glyphicon glyphicon-fast-backward"></span></a></li>
                                                             {% if proyecto.lider_proyecto == lider  %}
                                <li><a href="{% url 'cancelar_us' us.id %}" class="btn btn-default">Cancelar <span class="glyphicon glyphicon-remove"></span></a></li>
                            {% endif %}
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if us.estado == 'DONE' %}
                            <div class="btn-group" role="group" align="left">

                            <li>{{ us.nombre  }}</li>
                            <li><a href="{% url 'crearRegistro' proyecto.id us.id %}" class="btn btn-default">Registrar Trabajo <span class="glyphicon glyphicon-edit"></span></a></li>
                            <li><a href="{% url 'listar_registro' proyecto.id us.id %}" class="btn btn-default">Historial de Trabajo <span class="glyphicon glyphicon-edit"></span></a></li>
    <li><a href="{% url 'retroceder' us.id %}" class="btn btn-default">Atras <span class="glyphicon glyphicon-fast-backward"></span></a></li>

{% if proyecto.lider_proyecto == lider  %}
        <li><a href="{% url 'cambiar_estado' us.id %}" class="btn btn-default">Finalizar <span class="glyphicon glyphicon-fast-forward"></span></a></li>


                                <li><a href="{% url 'cancelar_us' us.id %}" class="btn btn-default">Cancelar <span class="glyphicon glyphicon-remove"></span></a></li>
    {% endif %}
                            </div>
                            {% endif %}
                        </td>
                        {% else %}
                            <td></td><td></td><td></td>
                        {% endif %}
{% endif %}
                    {% endfor %}
 </tr>
                  {% endif %}
                  {% endfor %}






              </table>
{% endfor %}
</ul>
      </div>
</div>

{% endblock %}
