{% extends "main/principal.html" %}
{% block busqueda%}
 <form class="navbar-form navbar-left" role="search" action="{% url 'buscar_proyecto' %}" method="get">
        <div class="form-group">
          <input type="text" name= "busqueda" class="form-control" placeholder="Nombre">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
 </form>

{% endblock%}
{% block menu %}
{% block list %}
<ul class="list-group">
    <h1>Proyectos</h1>
<table class="table">
    <tr>

        <th>Nombre</th>
        <th>Lider</th>
        <th>Cliente</th>
        <th>Descripcion</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Finalizacion</th>
        <th>Estado</th>
        <th>Observaciones</th>
        {%  if user.is_superuser %}

            {% else %}
            <th>Configurar</th>
        {% endif %}
{%  if user.is_superuser %}
        <th>Modificar</th>
{% endif %}
        <th>Reportes</th>
    </tr>
    {% for proyecto in object_list %}
        <tr>
            <td>{{ proyecto.nombre }}</td>
            <td>{{ proyecto.lider_proyecto }}</td>
            <td>{{ proyecto.cliente }}</td>
            <td>{{ proyecto.descripcion }}</td>
            <td>{{ proyecto.fecha_inicio }}</td>
            <td>{{ proyecto.fecha_fin }}</td>
            <td>{{ proyecto.estado }}</td>
            <td>{{ proyecto.observaciones }}</td>
            {%  if user.is_superuser %}

            {% elif proyecto.estado == 'PEN' %}
            <td><a href="{% url 'iniciar_proyecto' proyecto.id %}" class="btn btn-sm btn-default" >Iniciar</a></td>
            {% elif proyecto.estado == 'INI' %}
            <td><a href="{% url 'configurar' proyecto.id %}" class="btn btn-sm btn-default" >Configurar</a></td>
            {% elif proyecto.estado == 'FIN' %}
            <td><a href="{% url 'configurar' proyecto.id %}" class="btn btn-sm btn-default" >Detalles</a></td>
            {% endif %}
            <td><a href="{% url 'generar_pdf' proyecto.id %}" class="btn btn-sm btn-default" >Reportes</a></td>

            {%  if user.is_superuser %}

            <td><a href="{% url 'modificar_proyecto' proyecto.id %}" class="btn btn-sm btn-default" >Modificar</a></td>
        {% endif %}

        </tr>
    {% endfor %}
</table>

</ul>
{% endblock %}

{% endblock %}