{% extends "main/principal.html" %}
{% block menu %}

<div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="{% url 'lista_sprint' proyecto.id %}" class="dropdown-toggle" data-toggle="dropdown">Sprint <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  {% if proyecto.lider_proyecto == lider %}
                    <li><a href="{% url 'crear_sprint' proyecto.id %}">Crear</a></li>
                  {% endif %}
                <li><a href="{% url 'lista_sprint' proyecto.id %}">Pendiente</a></li>
                <li><a href="{% url 'finalizar_sprint_list' proyecto.id %}">En ejecucion</a></li>
                <li><a href="{% url 'sprint_finalizado_list' proyecto.id %}">Historico</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="{% url 'lista_flujo' proyecto.id %}" class="dropdown-toggle" data-toggle="dropdown">Flujo <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% if proyecto.lider_proyecto == lider %}
                    <li><a href="{% url 'crear_flujo' proyecto.id %}">Crear</a></li>
                {% endif %}
                  <li><a href="{% url 'lista_flujo' proyecto.id %}">Listar</a></li>
              </ul>
            </li>
              {% block actividades %}
              {% endblock %}


              <li class="dropdown">
              <a href="{% url 'lista_us' proyecto.id %}" class="dropdown-toggle" data-toggle="dropdown">Product Back Log <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'crear_us' proyecto.id %}">Agregar</a></li>
                <li><a href="{% url 'lista_us' proyecto.id %}">Listar</a></li>
              </ul>
            </li>
        {% if proyecto.lider_proyecto == lider  %}
              <li class="dropdown">
              <a href="{% url 'miembros_listar' proyecto.id %}" class="dropdown-toggle" data-toggle="dropdown">Equipo<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'ver_usuarios' proyecto.id %}">Agregar</a></li>
                <li><a href="{% url 'miembros_listar' proyecto.id %}">Listar</a></li>
              </ul>
            </li>

                <li class="dropdown">
              <a href="{% url 'lista_rol' proyecto.id %}" class="dropdown-toggle" data-toggle="dropdown">Roles <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'crear_rol' proyecto.id %}">Agregar</a></li>
                <li><a href="{% url 'lista_rol' proyecto.id %}">Listar</a></li>
              </ul>
            </li>
              {% endif %}

              {% if proyecto.cliente != cliente %}
               <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mensajes <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'crear_mensaje' proyecto.id request.user.pk %}">Redactar</a></li>
                <li><a href="{% url 'lista_enviados' proyecto.id %}">Enviados</a></li>
                <li><a href="{% url 'lista_recibidos' proyecto.id %}">Recibidos</a></li>
              </ul>
            </li>
              {% endif %}


              <li><a href="#">Burdownchart</a></li>
              <li><a href="{% url 'kanban' proyecto.id %}">Kanban</a></li>
            <li><a href="{% url 'lista_proyecto' %}">Atras</a></li>
          </ul>


        </div>
      </div>
    </div>
</div>
{% block list %}
<div class="col-sm-9">
      <div class="inner cover">
            <h1 class="cover-heading" align="center">{{ proyecto.nombre }}</h1>
            <p class="lead" align="center">
              <!--a href="#" class="btn btn-lg btn-default">Learn more</a-->
                {{ proyecto.descripcion }}

            </p>
      </div>
</div>
{% endblock %}
{% endblock %}
