{% extends "main/principal.html" %}
{% block busqueda%}
 <form class="navbar-form navbar-left" role="search" action="{% url 'buscar_usuario' %}" method="get">
        <div class="form-group">
          <input type="text" name= "busqueda" class="form-control" placeholder="Nombre">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
 </form>

{% endblock%}
{% block menu %}
{% block list %}
<ul class="list-group">
    <h1>Usuarios</h1>
<table class="table">
    <tr>
        <th>Username</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Eliminar</th>
        <th>Modificar</th>

    </tr>
    {% for usuario in object_list %}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td><a href="{% url 'borrar_usuario' usuario.id %}" class="btn btn-primary btn-sm btn-warning" >Eliminar</a></td>
            <td><a href="{% url 'modificar_usuario' usuario.id %}" class="btn btn-primary btn-sm btn-warning" >Modificar</a></td>
        </tr>
    {% endfor %}
</table>

</ul>
{% endblock %}
{% endblock %}