{% extends "main/menu.html" %}
{% block busqueda%}
 <form class="navbar-form navbar-left" role="search" action="{% url 'buscar_sprint' proyecto.id %}" method="get">
        <div class="form-group">
          <input type="text" name= "busqueda" class="form-control" placeholder="Nombre" >
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
 </form>
{% endblock%}

{% block list %}
<div class="col-sm-9">
      <div class="inner cover">
          <h1 class="cover-heading" align="center">{{ proyecto.nombre }}</h1>
          <ul class="list-group">
              <h1>Sprint's</h1>
              <table class="table">
                  <tr>
                      <th>Nombre</th>
                      <th>Proyecto</th>
                      <th>Descripcion</th>
                      <th>Duracion en Dias</th>
                      <th>Observaciones</th>
                      <th>Estado</th>
                      <th>Burndown Chart</th>


                  </tr>
                  {% for sprint in object_list %}
                  <tr>
                      <td>{{ sprint.nombre }}</td>
                      <td>{{ sprint.proyecto }}</td>
                      <td>{{ sprint.descripcion }}</td>
                      <td>{{ sprint.duracion_dias }}</td>
                      <td>{{ sprint.observaciones }}</td>
                      <td>{{ sprint.estado }}</td>
                      <td><a href="{% url 'burndown_chart_sprint' sprint.id %}" class="btn btn-sm btn-default" >Burndown Chart</a></td>

                  </tr>
                  {% endfor %}
                </table>
          </ul>
      </div>
</div>
{% endblock %}