{% extends "main/principal.html" %}
{% block busqueda%}
 <form class="navbar-form navbar-left" role="search" action="{% url 'buscar_sprint' %}" method="get">
        <div class="form-group">
          <input type="text" name= "busqueda" class="form-control" placeholder="Nombre">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
 </form>

{% endblock%}
{% block list %}
<ul class="list-group">
    <h1>Sprint</h1>
<table class="table">
    <tr>

        <th>Nombre</th>
        <th>Proyecto</th>
        <th>Descripcion</th>
        <th>Duracion en Dias</th>
        <th>Observaciones</th>
        <th>Modificar</th>
    </tr>
    {% for sprint in object_list %}
        <tr>
            <td>{{ sprint.nombre }}</td>
            <td>{{ sprint.proyecto }}</td>
            <td>{{ sprint.descripcion }}</td>
            <td>{{ sprint.duracion_dias }}</td>
            <td>{{ sprint.observaciones }}</td>
            <td><a href="{% url 'modificar_sprint' sprint.id %}" class="btn btn-primary btn-sm btn-warning" >Modificar</a></td>

        </tr>
    {% endfor %}
</table>

</ul>
{% endblock %}
{% block list_no_results%}
{% endblock %}