{% extends "main/principal.html" %}
{% block menu %}
{% block list %}
<h1>{{ proyecto.nombre }}</h1>
<h1>Avanzar US</h1>
<div class="alert alert-success">¿Avanzar User Storie?</div>

<form method="post" class="form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}<br/>
        {{ field }}
        </div>
    {% endfor %}
    {% for field in form.hidden_fields %}
     <div style="display:none;">{{ field }}</div>
 {% endfor %}
    <input type="submit" value="Avanzar" />
    <a href="{% url 'kanban' proyecto.id %}" class="btn btn-sm btn-default">Cancelar</a>
</form>
{% endblock %}
{% endblock %}