{% extends "main/menu.html" %}
{% block busqueda%}
 <form class="navbar-form navbar-left" role="search" action="{% url 'buscar_flujo' proyecto.id %}" method="get">
        <div class="form-group">
          <input type="text" name= "busqueda" class="form-control" placeholder="Nombre">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
 </form>
{% endblock%}
{% block list %}
<div class="col-sm-9">
      <div class="inner cover">
          <h1 class="cover-heading" align="center">{{ proyecto.nombre }}</h1>
          <ul class="list-group">
            <h1>Flujos</h1>
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Fecha y Hora de Creación</th>
                    <!-- th>Proyecto</th>
                    <th>Eliminar</th-->
                    <th>Modificar</th>
                    <th>Actividades</th>

    </tr>
    {% for flujo in object_list %}
        <tr>
            <td>{{ flujo.nombre }}</td>
            <td>{{ flujo.descripcion }}</td>
            <td>{{ flujo.fecha_hora_creacion }}</td>
            <!--td>{{ flujo.proyecto }}</td>
            <td><a href="{% url 'borrar_flujo' flujo.id %}" class="btn btn-primary btn-sm btn-warning" >Eliminar</a></td-->
            <td><a href="{% url 'modificar_flujo' flujo.id %}" class="btn btn-sm btn-default " >Modificar</a></td>
            <td><a href="{% url 'lista_actividad' flujo.id %}" class="btn btn-sm btn-default">Configurar</a></td>
        </tr>
    {% endfor %}
</table>

</ul>
      </div>
</div>

{% endblock %}

