{% extends "main/principal.html" %}
{% block menu %}
{% block list %}
<h1>{{ proyecto.nombre }}</h1>
<h1>Enviar Mensaje</h1>

<form method="post" class="form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div>
        {{ field.errors }}
        <div class="form-group">

        {{ field.errors }}
        {{ field.label_tag }}<br />
        {{ field }}<br />
        </div>
    </div>
 {% endfor %}
 {% for field in form.hidden_fields %}
     <div style="display:none;">{{ field }}</div>
 {% endfor %}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
{% endblock %}